.search {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.search form {
    min-width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 300px;
}